.barra{
    list-style-type: none;
    background-color:#fff1e0;
    overflow:hidden;
    margin:0;
    padding:0;
}
#logo li a:hover{
    background-color:#fff1e0;
}

.login li{
    float:right;
    overflow:hidden;
    margin:15px 10px;
}

.login li a{
    text-decoration:none;
    display:block;
    padding:10px;
}

.sesion{
    background-color:#FFCB8C;
    color:#d17300;
}

.registro{
    background-color:#FE9A22;
    color:#FFE3C1;
}

.navegacion li{
    float: left;
    overflow: hidden;
    left:100px;
}

.navegacion li a{
    display:block;
    text-decoration: none;
    padding: 15px;
    color:black;
    font-weight:bold;
}
.navegacion li a:hover{
    background-color: #ffcd8f;
}

 .bg-login-image{
    background: url("../img/img_login.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    border: 0px;
}

.sizeDiv{
    width: 40vw;
}


